@font-face {
    font-family: "Source Serif 4";
    font-style: normal;
    font-display: swap;
    src:
        url('/fonts/source-serif-4-latin-opsz-normal.woff2')
            format("woff2-variations");
}

:root {
    overflow-wrap: break-word;
    line-height: 1.5;
    font-size: 1.167em;
    font-family: "Source Serif 4", serif;
    background: #f1ebe6;
}

*, *::before, *::after {
    box-sizing: border-box;
    min-width: 0;
}

::selection {
    color: #ffffff;
    background: #5d0300;
}

body {
    max-width: 36.5rem;
    margin: 0 auto;
    padding: 1em;
}

main > *:first-child {
    margin-top: 0;
}
main > *:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    line-height: 1;
    font-weight: 600;
}

h2 {
    margin-top: 1.5rem;
}

a {
    color: #b10b00;
}

a:hover {
    text-decoration: none;
}

.subtitle {
    margin-top: -1rem;
}

.font-licensing {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    border-top-left-radius: 1em;
    background: #f9f6f4;
}

@media screen and (min-width: 44em), print {
    h2 {
        margin-bottom: -2.25rem;
    }

    ul, p, h1, h3 {
        padding-left: 12rem;
    }

    ul {
        list-style: none;
    }

    .caption {
        display: inline-block;
        min-width: 5rem;
    }
}

@media print {
    :root {
        font-size: 14pt;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .font-licensing {
        display: none;
    }
}
