<!DOCTYPE html>

<html lang="{{ site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ with .Title }}
            <title>{{ . }}</title>
            <meta property="og:title" content="{{ . }}">
        {{ end }}

        {{ with .Description }}
            <meta name="description" content="{{ . }}">
            <meta name="og:description" content="{{ . }}">
        {{ end }}

        {{ with "/icon.png" }}
            <link rel="icon" href="{{ . }}">
            <meta property="og:image" content="{{ . }}">
        {{ end }}

        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ .Permalink }}">

        <style>
            {{ partial "styles.css" . | safeCSS }}
        </style>
    </head>

    <body>
        <main>
            {{ .Content }}

            <a
                href="/font-license.txt"
                class="font-licensing"
            >Font licensing information</a>
        </main>
    </body>
</html>
